nav {
  width: 100%;
  a{
    width: 100%;
    .svg-inline--fa {
      margin: auto;
      margin-top: 25px;
      display: block;
      font-size: 3em;
      font-weight: 100;
      color: #000;
      animation: circle 5s linear infinite;
    }
  }
}

@keyframes circle {
  from{transform: rotate(0)}
  to{transform: rotate(360deg)}
}